.content-window-event{
  margin: auto;
  padding: 10px;
}
.aboutUs{
  background-color: white;
  margin: auto;
  padding: 10px;
}
h1{
  background-color: black;
  text-align: center;
  color: white;
}
