.content-window-about{
  margin: auto;
  padding: 10px;
}
.aboutUs{
  background-color: #d79a27;
  margin: auto;
  padding: 10px;
}
h2{
  background-color: black;
  font-size: 125%;
  text-align: center;
  color: white;
  font-family: 'Varela Round', sans-serif;
}
.discripton, .aboutUs{
  font-size: 125%;
  font-family: 'Varela Round', sans-serif;
  color: black;
  align-content: left;
}
li{
  font-size: 100%;
  font-family: 'Varela Round', sans-serif;
  color: black;
}
p.aboutUsPar, .listBorder, .linkSection{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 10px;
}
.links{
  display: inline-block;
  padding-right: 50px;
  text-align: center;
}
.linkSection {
    text-align: center;
}

.image{
  border-radius: 50%;
  padding-left: 40px;
  padding-right: 40px;
}
