.content-window-about{
  margin: auto;
  padding: 10px;
}
.aboutUs{
  background-color: #d79a27;
  margin: auto;
  padding: 10px;
}
h2{
  background-color: black;
  font-size: 125%;
  text-align: center;
  color: white;
  font-family: 'Varela Round', sans-serif;
}
.discripton, .aboutUs{
  font-size: 125%;
  font-family: 'Varela Round', sans-serif;
  color: black;
  align-content: left;
}
p.aboutUsPar, .listBorder, .linkSection{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 10px;
  text-align: center;
}
.links{
  display: inline-block;
  padding-right: 50px;
  text-align: center;
}
.linkSection {
    text-align: center;
}

.image{
  border-radius: 50%;
}
.titleAndName{
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}
.officerWrapper {
    text-align: center;
    border: 2px solid black;
}
.officerSection {
    display: inline-block;
    text-align: left;
    width: 80%;
}
