.sectionForm {
    margin: 10px;
}

.saveBtn {
    display: inline;
}

.hideItem {
    display: none;
}

.outer {
    width: 100%;
    text-align: center;
}

.wrapper {
    padding-top: 50px;
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
}
.sectionForm {
    width: 55%;
    margin: 30px auto;
  }
.pagebtn {
    width: 200px;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    font-size: 125%;
    margin-bottom: 2px;
 }
 .hiddenButtons {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    font-size: 110%;
    margin-bottom: 2px;
 }
 .logout-link {
    float:right;
    color: black;
    font-size: 125%;
    font-family: 'Varela Round', sans-serif;
}