.content-window-events {
    width: 700px;
    margin: auto;
    padding: 10px;
}

table.cal {
    border-collapse: collapse;
    text-align: center;
}

tr.title {
    height: 75px;
}

td.title {
    font-size: 36px;
}

td.cal-day {
    border: 1px solid black;
    width: 100px;
    vertical-align: bottom;
    font-weight: bold;
}

tr.cal-week {
    border: 1px solid black;
    height: 105px;
}

th.cal-header {
    font-size: 200%;
    width: 50px;
}

caption.header {
    margin-bottom: 5px;
}

input.monthleft, input.monthright {
    border: 2px solid black;
    border-radius: 6px;
    height: 25px;
    transition-duration: 0.4s;
    margin-left: 3px;
    margin-right: 3px;
}

input.monthleft:hover, input.monthright:hover {
    background-color: rgb(255, 200, 1);
    color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
