form {
  width: 80%;
  margin: 0 auto;
}

p.login {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 125%;
  margin: 5px 1;
}

p.error {
  font-family: 'Varela Round', sans-serif;
  font-size: 100%;
  color: red;
}

.button {
  text-align: center;
}

.wrapper {
    width: 450px;
    height: 355px;
    padding: 5px;
    background-color: rgb(236, 177, 14);
    margin: auto;
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
    border-radius: 4px;
}

input[type=submit] {
   width: 150px;
   background-color: black;
   color: white;
   padding: 5px;
   margin: 10px ;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-family: 'Varela Round', sans-serif;
   font-size: 125%;
   margin-bottom: 2px;
}

label {
    display: inline-block;
    width: 500px;
    text-align: left;
    margin-right: 8px;
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
}

input[type=text], select, input[type=password] {
   width: 450px;
   padding: 10px;
   margin: 4px 0;
   border: 1px solid #aaa;
   border-radius: 4px;
   box-sizing: border-box;
}

h2 {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
   
}
