.content-window-home {
  margin: auto;
  padding: 10px;
  text-align: center;
}

h3 {
  font-weight: bold;
  background-color: black;
  font-size: 125%;
  text-align: center;
  color: white;
  font-family: 'Varela Round', sans-serif;
}
.content-window-home > p {
  padding: 25px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
a {
  text-decoration: none;
}
