div.first{
  text-align: center;
  vertical-align: middle;
  font-size: 200%;
  background-color: rgb(255, 200, 1);
  height: 50px;
  padding-top: 10px;
}

div.nav{
  text-align: center;
  background-color: grey;
  margin-top: 5px;
}


.content-window-about {

}

.main {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.main-top {
    margin-bottom: 10px;
    padding: 0;
}

.banner-container {
    width: 100%;
    height: 250px;
}

.logo-wrapper {
    position: relative;
    clear: left;
}

.logo-float {
    position: absolute;
    left: 30px;
    clear: both;
}

a.nav-link {
    background-color: transparent;
    border: none;
    font-size: 125%;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Varela Round', sans-serif;
}

a.nav-link:link, a.nav-link:visited {
    text-decoration: none;
    color: white;
}

a.nav-link:hover {
    text-decoration: none;
    color: white;
}

a.nav-link:active {
    text-decoration: none;
    color: white;
}

.wrapper {
    width: 350px;
    padding: 20px;
}
body{
  background-image: url(https://www.uwosh.edu/computer_science/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d79a27;
  padding-top: 38px;
}
