p{
    text-align: left;
}
label {
    display: inline-block;
    width: 500px;
    text-align: left;
    margin-right: 8px;
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
}
#first, #last, #nick, #grad-year, #email{
    width: 400px;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
 }
 